<body>
  <p>{{ title }}</p>

  <div class="component">
    <app-tests></app-tests>
  </div>


  <div class="component">

    <app-lesson39></app-lesson39>
  </div>

  <div class="component">
    <app-lesson41></app-lesson41>
  </div>

  <div class="component ">
    <app-lesson40>
      <div class="container">

        <div>
          <h2>Added new code!!</h2>
          <ul>
            <li> One </li>
            <li> Two </li>
            <li> Three </li>
          </ul>
          <app-lesson35child1 [tasks]="tasks "></app-lesson35child1>
        </div>

        <div>
          <ol>
            <li>ONE</li>
            <li>TWO</li>
            <li>THREE</li>
          </ol>
        </div>
      </div>

    </app-lesson40>
  </div>

  <div class="component">
    <app-lesson35parrent (emitTasks)="getTasks($event) "></app-lesson35parrent>
  </div>


  <div class="component">
    <app-lesson34new></app-lesson34new>
  </div>


  <div class="component">
    <app-lesson34></app-lesson34>
  </div>

  <div class="row">

    <div class="col">
      <div class="component">
        <app-lesson32></app-lesson32>
      </div>
    </div>

    <div class="col">
      <div class="component">
        <app-lesson31></app-lesson31>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="component">
        <app-lesson30></app-lesson30>
      </div>
    </div>

    <div class="col">
      <div class="component">
        <app-lesson29></app-lesson29>
      </div>
    </div>

  </div>


  <div class="component">
    <app-topcontent></app-topcontent>
  </div>

  <div class="component">
    <app-lesson23></app-lesson23>
  </div>

  <div class="">
    <div class="component">
      <app-lesson20></app-lesson20>
    </div>

    <div class="component">
      <app-inline></app-inline>
    </div>





  </div>
</body>
