<body>
  <p>{{ title }}</p>

  <div class="row">

    <div class="col">
      <div class="component">
        <app-lesson32></app-lesson32>
      </div>
    </div>

    <div class="col">
      <div class="component">
        <app-lesson31></app-lesson31>
      </div>
    </div>

  </div>
  
  <div class="row">

    <div class="col">
      <div class="component">
        <app-lesson30></app-lesson30>
      </div>
    </div>

    <div class="col">
      <div class="component">
        <app-lesson29></app-lesson29>
      </div>
    </div>

  </div>


  <div class="component">
    <app-topcontent></app-topcontent>
  </div>

  <div class="component">
   <app-lesson23></app-lesson23>
</div>

  <div class="">
    <div class="component">
       <app-lesson20></app-lesson20>
    </div>
    
    <div class="component">
      <app-inline></app-inline>
    </div>

  

    
    
  </div>
</body>
