<h3>
   <b>{{ title }}</b>
</h3>
<p>Pi number is {{ pi | number:'1.1-2' }} with a Pipe <b>pi | number:'1.1-6'</b> </p>
<p>Pi number is {{ pi  }} no Pipe</p>
<p style="color: red">
  Today is {{ date | date: "fullDate" }} 
  <br> 
  Today is {{ date | date: "dd-MM-yyyy" }}

  <b> with a date pipe date | date:'dd-mm-yyyy'</b>
</p>
<p>Today is {{ date }} <b>no date pipe</b></p>
<p>{{ showMyCat() | uppercase }} <b>with uppercase Pipe</b></p>
<p>{{ showMyCat() }} with no Pipe</p>
<p style="color: red;;"><b> {{  kitty.name }} cat?.name or (cat && cat.name) to check if cat is not null or undefined</b> </p>
