<body>
    <div>
        <span class="label label-primary">{{title }}</span>
    </div>
    <div class="alert alert-success" role="alert">
        <span class="label label-success">
          <a href="https://www.youtube.com/watch?v=IJpM3aUJwr8&list=PLpzwMkmxJDUyD-UTGQXuevw0YOPgvroPL&index=42">Local reference x39 </a>

        </span>
    </div>
    
    <div class="alert alert-success" role="alert">
        <span class="label label-success">
            <a href = "https://youtu.be/3dHNOWTI7H8">Angular Crash</a>
        </span>
    </div>
    
</body>

