<body>
    <div>
        <span class="label label-primary">{{title }}</span>
    </div>
    <div class="alert alert-success" role="alert">
        <span class="label label-success">
            <a href = "https://www.youtube.com/watch?v=bdiVKM8wWOw&list=PLpzwMkmxJDUyD-UTGQXuevw0YOPgvroPL&index=38">Lesson #36</a>

        </span>
    </div>
    
    <div class="alert alert-success" role="alert">
        <span class="label label-success">
            <a href = "https://youtu.be/3dHNOWTI7H8">Angular Crash</a>
        </span>
    </div>
    
</body>

