<p><b>{{title}}</b></p>
<span class="label label-success">
  <a href="https://www.youtube.com/watch?v=gGomg8fEOUI&list=PLpzwMkmxJDUyD-UTGQXuevw0YOPgvroPL&index=41">Life cycle hooks#41</a>

</span>
<br />
<input #simplyInput />
<button (click)=add(simplyInput)>Add</button>
<h2>Added at main branch</h2>
<h1>Added at main branchto get the conflict</h1>
<h3>Added at the newBranch to get the conflict with a main branch</h3>
<h4>Added at main branch again</h4>

<app-lesson39-child #childReference [localInputToSTring]="localInputToSTring"></app-lesson39-child>
